<div style="float:left"><img src="/images/{{image}}" style="width:400px"></div>
<div style="float:left">
	<h2><b>{{year}} {{make}} {{model}}</b></h2>
	<h2>Price: ${{price}}</h2>
	<button>Buy this {{model}}</button>
	<br><br>
	<button><a href="/carsforsale/">View All Cars</a></button>
	
</div>

