<h1>Client List</h1>

<a href="/add">
  CREATE NEW CLIENT
</a>
<br><br>
<table id="clients">
  <tr>
    <th></th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </tr>
  {{#each clients}}
  <tr>
    <td>
      <a href="/update/{{this.id}}">EDIT</a> |
      <a href="#" clientid={{this.id}} class="delete">DELETE</a>
    </td>
    <td> {{this.first_name}}</td>
    <td> {{this.last_name}}</td>
    <td> {{this.email}}</td>
  </tr>
  {{/each}}
</table>