<h1>Update {{first_name}} {{last_name}}</h1>

<div class="add-client">
  <form id="updateclient" method="post">

    <label for="first_name"><span>First Name <span class="required">*</span></span>
      <input type="text" class="input-field" id="first_name" required="required" value="{{first_name}}" />
    </label>

    <label for=" last_name"><span>Last Name <span class="required">*</span></span>
      <input type="text" class="input-field" id="last_name" required="required" value="{{last_name}}" />
    </label>

    <label for=" email"><span>Email <span class="required">*</span></span>
      <input type="email" class="input-field" id="email" required="required" value="{{email}}" />
    </label>

    <input type="submit" value="Update Client" />

    <input type="hidden" id="id" value="{{id}}">
  </form>
</div>